:root {
    font-size: 16px;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.486);
    display: flex;
    align-items: center;
    justify-content: center;
}
.map{
    overflow: hidden;
    width: 620px;
    height: 620px;
    background: rgb(7, 0, 7);
    position: relative;
}
.tank{
    position: absolute;
    width: 40px;
    height: 40px;
    background:linear-gradient(0deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255,201,1,1) 0%, rgba(191,4,4,1) 20%);
  z-index: 3;
}
.tank2{
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(0deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255,201,1,1) 0%, rgba(67,51,131,1) 20%);
  z-index: 3;
}
.enemy-tank{
    position: absolute;
    width: 40px;
    height: 40px;
    background: linear-gradient(0deg, rgba(4, 15, 15, 0.925) 0%, rgba(255,201,1,1) 0%, rgb(2, 43, 11) 20%);
  z-index: 3;
}

.missle{
    background: darkorange;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: absolute;
    /* top:38%;
    left:38%; */
    z-index: 2;
    /* transform: translate(-50% - 50%); */
}

.brick{
    
        position: absolute;
        width: 22px;
        height: 22px;
        background: rgb(90, 3, 3);
      z-index: 3;
    }









.gameOver{
    width: 100vw;
    height: 100vh;
    background: tomato;
}
.gameOver h2{
    color: blue;
}