:root {
    font-size: 16px;
}
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: rgba(0, 0, 0, 0.486);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main game interface */
.map{
    overflow: hidden;
    width: 620px;
    height: 620px;
    background: rgb(3, 0, 3);
    position: relative;
    transition: 0.5s linear;
    transform-origin: top left;
}
.change-level{
    transform:rotateY(180deg);
}

aside{
    overflow: hidden;
    height: 620px;
    width: 200px;
    background: rgba(5, 92, 92, 0.226);
    position: relative;
    text-align: center;
    border: 2px solid black;
}




/* player tanks */
.tank{
    position: absolute;
    width: 40px;
    height: 40px;
    /* background:linear-gradient(0deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255,201,1,1) 0%, rgba(191,4,4,1) 20%); */
    background: linear-gradient(180deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255, 1, 1, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/player-tank-static.gif) center/cover;
    clip-path: polygon(60% 7%, 40% 7%, 30% 0, 0 0, 0 100%, 30% 100%, 33% 73%, 43% 73%, 45% 100%, 54% 100%, 57% 73%, 67% 73%, 70% 100%, 100% 100%, 100% 0, 70% 0);
    overflow: visible;
    border-radius: 3px;
  z-index: 3;
}
.tank-move{
   
    background:linear-gradient(180deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255, 1, 1, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/fastest.webp) center/cover;
   
}

.tank2{
    position: absolute;
    border-radius: 3px;

    width: 40px;
    height: 40px;
    /* background: linear-gradient(0deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255,201,1,1) 0%, rgba(67,51,131,1) 20%); */
    background: linear-gradient(180deg, rgba(19, 56, 160, 0.771) 0%, rgba(1, 39, 255, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/player-tank-static.gif) center/cover;
    clip-path: polygon(60% 7%, 40% 7%, 30% 0, 0 0, 0 100%, 30% 100%, 33% 73%, 43% 73%, 45% 100%, 54% 100%, 57% 73%, 67% 73%, 70% 100%, 100% 100%, 100% 0, 70% 0);
    
    z-index: 3;
}
.tank2-move{
   
    background:linear-gradient(180deg, rgba(19, 56, 160, 0.771) 0%, rgba(1, 39, 255, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/fastest.webp) center/cover;
   
}


/* ENEMY TANKS AND SPAWN */

.enemy-spawn{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: linear-gradient(45deg, rgba(35, 59, 10, 0.541) 48%, rgba(170,0,0,0.8575805322128851) 50%, rgba(111, 80, 18, 0.432) 52%),
    linear-gradient(135deg, rgba(35, 59, 10, 0.582) 48%, rgba(170,0,0,0.8575805322128851) 50%, rgba(111, 80, 18, 0.582) 52%),
    linear-gradient(90deg, rgb(35, 59, 10) 48%, rgba(170,0,0,0.8575805322128851) 50%, rgb(111, 80, 18) 52%);;
}

.enemy-tank{
    border-radius: 4px;
    position: absolute;
    width: 40px;
    height: 40px;
    background: url(../images/enemy-tank2.jpg) center/cover;
    background-size: contain;
    /* background: linear-gradient(0deg, rgba(4, 15, 15, 0.925) 0%, rgba(255,201,1,1) 0%, rgb(2, 43, 11) 20%); */
  z-index: 3;
  -webkit-clip-path: polygon(0 0, 43% 2%, 89% 2%, 91% 24%, 79% 24%, 79% 41%, 100% 41%, 100% 59%, 78% 59%, 78% 74%, 92% 74%, 90% 98%, 44% 98%, 0 100%, 0 82%, 4% 65%, 2% 50%, 3% 34%, 0 22%);
  clip-path: polygon(0 0, 43% 2%, 89% 2%, 91% 24%, 79% 24%, 79% 41%, 100% 41%, 100% 59%, 78% 59%, 78% 74%, 92% 74%, 90% 98%, 44% 98%, 0 100%, 0 82%, 4% 65%, 2% 50%, 3% 34%, 0 22%);
}





/* MISSLES */
.missle{
    /* background: rgb(85, 85, 82); */
    background: linear-gradient(0deg, rgba(231,238,40,0.5102415966386555) 1%, rgba(207,186,23,0.9136029411764706) 5%, rgba(207,131,23,0.9136029411764706) 9%, rgba(232,22,48,1) 13%, rgba(6,6,3,1) 15%, rgba(77,74,88,1) 19%, rgba(97,93,112,1) 71%, rgba(170,113,0,1) 97%, rgba(170,0,0,1) 100%);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    height: 10px;
    width: 6px;
    position: absolute;
    /* top:38%;
    left:38%; */
    z-index: 4;
    opacity: 0;
    animation: shot 150ms linear forwards;
}
.missle::after{
    content: "";
   
    /* background: linear-gradient(180deg, rgba(238, 151, 12, 0.699), rgba(0, 0, 255, 0.288)); */
    background: linear-gradient(180deg, rgba(170,0,0,1) 0%, rgba(238, 111, 7, 0.753) 4%, rgba(255, 177, 20, 0.513) 10%, rgba(255, 255, 255, 0.205) 21%, rgba(87, 93, 80, 0.219) 35%, rgba(47,50,45,0.7063200280112045) 51%, rgba(13,14,13,0.804359243697479) 69%, rgba(13,14,13,0.8911939775910365) 82%, rgba(13,14,13,0.969625350140056) 92%);
    height: 40px;
    width: 6px;
    position: absolute;
    top:100%;
    left:0%;
    z-index: 4;
    opacity: 0;
    animation: shot 150ms linear forwards;
    clip-path: polygon(50% 100%, 0 0, 100% 0);
}





/* OBSTACLES */

.brick{
    
        position: absolute;
        width: 22px;
        height: 22px;
        background: url(../images/bricks2.png) center/cover;
        background-color:  rgba(247, 244, 244, 0.295);
      z-index: 3;
      
    }
.rock{
    
        position: absolute;
        width: 22px;
        height: 22px;
        background: gray;
        background-color:  rgba(247, 244, 244, 0.295);
        z-index: 3;
      
    }
.forest{
    
        position: absolute;
        width: 22px;
        height: 22px;
        background: rgb(17, 133, 7);
        /* background-color:  rgba(247, 244, 244, 0.295); */
        z-index: 5;
      
    }
.water{
    
        position: absolute;
        width: 22px;
        height: 22px;
        background: rgb(8, 33, 172);
        /* background-color:  rgba(247, 244, 244, 0.295); */
        z-index: 1;
      
    }
.closest{
    
    outline: 2px solid rgb(150, 29, 29);
}
@keyframes shot {
    0%{opacity: 0;}
    20%{opacity: 0;}
    100%{opacity: 1;}
}




/* DAMAGE ANIMATIONS */
.fire{
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 6px;
    height: 12px;
    background: url(../images/fire.gif) center/cover;
    -webkit-clip-path: polygon(32% 34%, 21% 11%, 35% 17%, 38% 3%, 50% 20%, 57% 2%, 62% 19%, 75% 4%, 75% 12%, 79% 20%, 74% 41%, 84% 42%, 84% 64%, 85% 79%, 81% 90%, 71% 98%, 44% 100%, 18% 94%, 11% 85%, 13% 70%, 21% 56%, 19% 38%, 14% 27%);
    clip-path: polygon(32% 34%, 21% 11%, 35% 17%, 38% 3%, 50% 20%, 57% 2%, 62% 19%, 75% 4%, 75% 12%, 79% 20%, 74% 41%, 84% 42%, 84% 64%, 85% 79%, 81% 90%, 71% 98%, 44% 100%, 18% 94%, 11% 85%, 13% 70%, 21% 56%, 19% 38%, 14% 27%);

    /* -webkit-clip-path: polygon(17% 18%, 21% 11%, 30% 6%, 38% 3%, 49% 5%, 57% 2%, 64% 5%, 75% 4%, 84% 12%, 90% 16%, 91% 28%, 95% 39%, 94% 66%, 90% 83%, 81% 90%, 71% 98%, 44% 100%, 18% 94%, 11% 85%, 13% 70%, 15% 56%, 12% 39%, 14% 27%);
    clip-path: polygon(17% 18%, 21% 11%, 30% 6%, 38% 3%, 49% 5%, 57% 2%, 64% 5%, 75% 4%, 84% 12%, 90% 16%, 91% 28%, 95% 39%, 94% 66%, 90% 83%, 81% 90%, 71% 98%, 44% 100%, 18% 94%, 11% 85%, 13% 70%, 15% 56%, 12% 39%, 14% 27%); */
}





/* STATISTICS PANNEL */
.player-one-stats, .player-two-stats{
    position: relative;
    text-align: center;
}

.player-one-stats h2::after, .player-two-stats h2::after{
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 3%;
    /* background:linear-gradient(0deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255,201,1,1) 0%, rgba(191,4,4,1) 20%); */
    background: linear-gradient(180deg, rgba(232,22,48,0.7707457983193278) 0%, rgba(255, 1, 1, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/player-tank-static.gif) center/cover;
    clip-path: polygon(60% 7%, 40% 7%, 30% 0, 0 0, 0 100%, 30% 100%, 33% 73%, 43% 73%, 45% 100%, 54% 100%, 57% 73%, 67% 73%, 70% 100%, 100% 100%, 100% 0, 70% 0);
    overflow: visible;
    border-radius: 3px;
    width: 30px;
    height: 30px;
  z-index: 3;
  animation: lowlife 2s linear infinite;
}
.player-two-stats h2::after{
    background: linear-gradient(180deg, rgba(19, 56, 160, 0.771) 0%, rgba(1, 39, 255, 0.747) 0%, rgba(67, 51, 131, 0) 10%), url(../images/player-tank-static.gif) center/cover;

}
@keyframes lowlife {
    0%{transform: rotateZ(0deg);}
    100%{transform: rotateZ(360deg);}
}

.player-one-lifebar-frame, .player-two-lifebar-frame{
    margin: 0 auto;
    position: relative;
    width: 90%;

    height:10px;
    background: rgba(255, 123, 0, 0.226);
    border-radius: 5px;
    border: 2px solid black;
}
.player-one-lifebar{
    position: absolute;
    width: 90%;
    height: 6px;
    background: green;
    border-radius: 5px;
    transition: 500ms ease-out;
    
}


